body {
    font-family: Arial, sans-serif;
}

form {
    margin-top: 20px;
}

p {
    color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

.applist {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 9px;
}