{%extends "base.html" %} 
{%block content%} 
  
<h1 class="fs-3"> Welcome </h1> 

<p>On this site you are able to: 
    <ul>
        <li>Register for an account (This actually does nothing, just getting to grips with form validations) </li>
        <li>Borrow a device (Note: you can't borrow more than 1 device at a time)</li>
        <li>Return a device </li>
        <li>Add a new student account</li>
        <li>Remove a student account (But you need to have the admin key!)</li>
        <li>Login (Not linked to database yet... coming soon to a laptop near you)</li>
        <li>Display a report for a student or device with all the loans that have been carried out</li>
    </ul>
</p>
  
{% endblock %}